@charset "utf-8";
html,body,ul,li,ol,dl,dd,dt,p,a,u,b,table,tr,td,strong,em,i,h1,h2,h3,h4,h5,h6,form,fieldset,legend,img,footer,header,div{margin:0;padding:0;box-sizing:border-box;}
ul,ol,li{list-style:none;}
a,u{text-decoration:none;} 
img{border:0;display:block;}
em,i{font-style:normal;}
b,strong,h1,h2,h3,h4,h5,h6{font-weight:100;}
h1,h2,h3,h4,h5,h6{font-size:16px;}
.clearfix:after {content:"."; display:block; height:0; visibility:hidden; clear:both; }
.clearfix { *zoom:1; }

/*::-webkit-input-placeholder{ 
    color:#fff !important; 
} */
 
/*修改*/ 
//*{box-sizing:border-box;}
//*{margin:0;padding: 0;}//////////////////////
.widthHeight{
    width:100%;
    height:100%;
}
.textAL(@w){
    text-align: center;
    line-height: @w; 
    font-size:@w;
}
.textALN{
    text-align: center;
}
